.section {
    display: flex;
    flex-direction: column;
    gap: var(--space-2); /* mellan header och grid */
  }
  
  .grid {
    display: grid;
    gap: var(--space-6);
  
    grid-template-columns: repeat(1, 1fr);
  }
  
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  
  